.articles_content {
    padding: 16px;
    border-radius: 16px;
    /* background: var(--articleCard-color, #ffffff); */
    background: #141C27;
    height: 355px;
}

.articles_content .image_small {
    display: flex;
    justify-content: center;
}

.articles_content .image_small img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.articles_content:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 4px 6px var(--magicBox2-color, #ffffff4d);
}

.articles_content .title {
    font-size: 14px;
    color: var(--articleCardFont-color, #ffffff);
    font-weight: 700;
    margin-bottom: 10px;
    height: 2.4rem;
}

.articles_content .league {
    color: var(--articleCardFont2-color, #ffffff);
    font-size: 10px;
    font-weight: 700;
}

.articles_content .teams {
    color: var(--articleCardFont-color, #ffffff);
    min-height: 3rem;
}

.articles_content .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--articleCardFont-color, #ffffff);
    font-weight: 300;
    font-size: 0.6rem;
}

.articles_content .prediction {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.articles_content .prediction .predict {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 80px;
    padding: 10px;
    margin: 0 auto;
}

.articles_content .prediction .predict .title {
    color: #F6626E;
}

.articles_content .prediction .predict .content {
    color: #FFF;
}

.articles_content .prediction .author {
    display: flex;
    flex-direction: column;
}

.articles_content .prediction .author .details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.articles_content .prediction .author .details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.articles_content .prediction .author .details span {
    color: #c8c8c8;
    font-size: 14px;
}

.articles_content .prediction .author .winlose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.articles_content .prediction .author .winlose .item {
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px;
    line-height: 1;
}

.articles_content .prediction .author .winlose .win {
    background: #15BFBB;  
}

.articles_content .prediction .author .winlose .lose {
    background: #E21C34;  
}
